{
    "type": "message",
    "attachments": [
        {
            "contentType": "application/vnd.microsoft.card.adaptive",
            "contentUrl": null,
            "content": {
                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                "type": "AdaptiveCard",
                "version": "1.2",
                "body": [

                     {
                        "type": "Container",
                        "layouts": [
                            {
                              "type": "Layout.Flow",
                              "horizontalItemsAlignment": "left"
                            }
                        ],
                        "items": [
                             {
                                 "type": "Icon",
                                 "name": "ErrorCircle"
                             },
                             {
                                 "type": "TextBlock",
                                 "text": "Error",
                                 "wrap": true,
                                 "size": "Large",
                                 "weight": "Bolder"
                             },
                        ]
                    },
                    {
                        "type": "TextBlock",
                        "text": "{{ErrorType}}",
                        "wrap": true,
                        "weight": "Bolder"
                    },
                    {
                        "type": "TextBlock",
                        "text": "{{ErrorMessage}}",
                        "wrap": true,
                        "spacing": "ExtraLarge",
                        "size": "Small"
                    },
                    {
                        "type": "TextBlock",
                        "text": "{{ErrorDetails}}",
                        "fontType": "Monospace",
                        "wrap": true,
                        "spacing": "ExtraSmall"
                    },
                    {
                        "separator": true,
                        "type": "TextBlock",
                        "text": "Generated by a bot.",
                        "spacing": "ExtraLarge",
                        "size": "Small"
                    },
                ]
            }
        }
    ]
}