{
    "type": "message",
    "attachments": [
        {
            "contentType": "application/vnd.microsoft.card.adaptive",
            "contentUrl": null,
            "content": {
                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                "type": "AdaptiveCard",
                "version": "1.2",
                "body": [

                     {
                        "type": "Container",
                        "layouts": [
                            {
                              "type": "Layout.Flow",
                              "horizontalItemsAlignment": "left"
                            }
                        ],
                        "items": [
                             {
                                 "type": "Icon",
                                 "name": "Status"
                             },
                             {
                                 "type": "TextBlock",
                                 "text": "{{IterationName}} Progress",
                                 "wrap": true,
                                 "size": "Large",
                                 "weight": "Bolder"
                             },
                        ]
                    },
                    {
                        "type": "TextBlock",
                        "text": "{{Header}}",
                        "wrap": true,
                        "weight": "Bolder"
                    },
                    {
                        "type": "TextBlock",
                        "text": "{{MessageOfTheDayHeader}}",
                        "wrap": true,
                        "spacing": "ExtraLarge",
                        "size": "Small"
                    },
                    {
                        "type": "TextBlock",
                        "text": "{{MessageOfTheDay}}",
                        "fontType": "Monospace",
                        "wrap": true,
                        "spacing": "ExtraSmall"
                    },
                    {{#Iterations}}
                    {
                        "type": "ProgressBar",
                        "value": {{.Progress}},
                        "spacing": "ExtraLarge",
                        "color": "{{.Color}}",
                        "separator": false
                    },
                    {
                        "type": "TextBlock",
                        "text": "{{.Name}} [{{.StartDate}} - {{.FinishDate}}] {{.Progress}}%",
                        "spacing": "ExtraSmall",
                        "size": "Small"
                    },
                    
                    {{/Iterations}}
                    {
                        "separator": true,
                        "type": "TextBlock",
                        "text": "Generated by a bot.",
                        "spacing": "ExtraLarge",
                        "size": "Small"
                    },
                ]
            }
        }
    ]
}